# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
backend/terraform/build/

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db
